.container.testimonials__container {
    padding-bottom: 4rem; 
    width: 40%;
}
.testimonial {
    color: var(--color-primary);
    text-align: center;
    padding: 2rem;
    border:1.5px solid  #8cd1f8;
    background:var(--color-dark-transparent);
    border-radius: 30px;
    user-select: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
color: white;
--swiper-navigation-size: 1rem;
}

.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
   box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.534);
}

.client__review {
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/*Media Queries - Medium Devices*/

@media screen and (max-width: 1024px) {
     .container.testimonials__container {
        width: 70%;
    }
}

/*Media Queries - Small Devices*/

@media screen and (max-width: 600px) {
 
    .service__container {
      width: var(--container-width-sm);
     }
     .client__review {
        width: var(--container-width-sm);
    }
}